bin/Debug/GoToSleep.exe
bin/Debug/GoToSleep.pdb
bin/Debug/GoToSleep.vshost.exe
bin/Debug/GoToSleep.vshost.exe.manifest
GoToSleep.csproj.user
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/GoToSleep.csproj.FileListAbsolute.txt
obj/x86/Debug/GoToSleep.exe
obj/x86/Debug/GoToSleep.pdb
